.btn{
    background-color: rgb(46, 39, 128);
}

.button{
    color:white;
        font-family: "Rubik Doodle Shadow", system-ui;
        font-weight: 900;
        font-style: initial;
      }
      
body{
    background-color: rgba(46, 39, 128, 0.504);
}

p{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

h1{
    font-family: "Rubik Doodle Shadow", system-ui;

}
